/* style.css */

  
* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(bg.webp);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.container {
    width: 60%;
    min-width: 250px;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin-top: 50px;
    border-radius: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.main-heading {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.subheading {
    font-style: italic;
}

.dividing-line {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    background-color: rgb(214, 214, 214);
}

.recipe {
    padding: 10px 30px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.recipe-description {
    font-weight: 400;
}

.ingredients {
    max-width: 45%;
    display: inline-block;
}

.image-container {
    max-width: 49%;
    float: right;
    margin-top: 20px;
}

.recipe-image {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(214, 214, 214);
}

.steps-list {
    text-align: justify;
}

@media (max-width: 700px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    body {
        margin-bottom: 50px;
        padding-bottom: 50px;
    }

    .main-heading {
        font-size: 2rem;
        margin-bottom: 10px;
    }
    
    .subheading, .recipe-heading{
        font-size: 1rem;
    }

    .recipe-description {
        font-size: 0.8rem;
    }

    .recipe {
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    .image-container {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recipe-image {
        width: 80%;
        margin-bottom: 30px;
    }

    .ingredients {
        max-width: 100%;
        display: block;
        padding-right: 10px;
    }

    .steps-list {
        padding-right: 10px;
    }
}